@model GardenBuddy.Models.Plant

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Plant Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlantName):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rowWidth):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rowWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BetweenPlants):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BetweenPlants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.groundDepth):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.groundDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soil):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Season):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watering):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pruning):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pruning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pests):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disease):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiscCare):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiscCare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storage):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.harvestMethod):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.harvestMethod)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.PlantId">Edit</a> |*@
    <a href="javascript:history.go(-1)">Back</a>
</div>
